<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
       http://www.springframework.org/schema/jee 
       http://www.springframework.org/schema/jee/spring-jee-3.1.xsd">

	<!-- Configuraciones de Spring -->
	<context:component-scan base-package="cl.cardif.cotizador.wsCotizador" />
	<context:annotation-config />

 	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="jdbc/cardifCotizador" />
	</bean> 


<!-- INI Datasource Configuracion local -->
 <!--  <jee:jndi-lookup id="dataSource" jndi-name="jdbc/cardifCotizador" expected-type="javax.sql.DataSource" />   -->
  
  <!-- INI Datasource Configuracion spring -->
 	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean> 

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dataSource" />

	<tx:annotation-driven transaction-manager="transactionManager" />

	<!--INI Datasource Configuracion Local -->
	<!--  <jee:jndi-lookup id="dataSourceExterno" jndi-name="jdbc/jdbcExterno" expected-type="javax.sql.DataSource" /> -->

	<!-- Datasource externo -->
	<!--INI Datasource Configuracion Local -->
 	<bean id="dataSourceExterno" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="jdbc/jdbcExterno" />
	</bean> 
	<bean
		class="org.springframework.web.context.support.ServletContextPropertyPlaceholderConfigurer" />

 	<bean id="jdbcTemplateExterno" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSourceExterno" />
	</bean> 

	<bean id="transactionManagerExterno"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dataSourceExterno" />

	<tx:annotation-driven transaction-manager="transactionManagerExterno" />
</beans>